*~
dist
dist-newstyle
.ghc.environment.*
.cabal-sandbox*
Setup.hi
Setup.o
cabal.sandbox.config
setup.exe
setup.exe.manifest
test/get
test/get.exe
test/get.hi
test/get.o
test/getb
test/getb.exe
test/getb.hi
test/getb.o
test/mk-with-ghc
test/mk-all-with-ghc
test/with-ghc-*
